/*----------------
共通
----------------*/
body{
    background-color:#445263;                   
}

.resizeimage {
    max-width: 880px; /* 最大幅 */
    margin: 0 auto;
 }
 .resizeimage img { width: 100%; }

 .bg {
    position: relative;
}

.round_img img{
    position: absolute;
    margin: 0 auto;
    justify-content: ceter;
    top: 49%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 22%;
    max-width: 132px; /* 最大幅 */
    width:16%;
}


/*----------------
footer
----------------*/
footer{
    text-align: center;
}